<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name='generator' content={Astro.generator} />
    <title>Bailee Dastugue</title>
    <link rel='stylesheet' href='/src/styles/reset.css' />
  </head>
  <body class='layout'>
    <slot />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }

  .layout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
  }
</style>
