---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section id={id} class='section gap-1'>
  <slot name='title' />
  <slot name='body' />
</section>

<style>
  .section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
</style>
