---
import Section from '../layouts/Section.astro';
import type { Institution } from '../types';
import '../styles/history.css';

interface Props {
  institutions?: Institution[];
}

const { institutions = [] } = Astro.props;
---

<Section id='education'>
  <h2 slot='title'>Education</h2>
  <div slot='body'>
    <div class='section flex-column gap-1-5'>
      {
        institutions.map((institution) => (
          <div class='section-event flex-column education-institution'>
            <span class='section-header'>
              <h3 class='section-title'>{institution.name}</h3>
              <span class='section-dates education-dates'>
                {institution.yearGraduated} // {institution.location}
              </span>
            </span>
            {institution.education.map((edu) => (
              <p class='education-degree'>{edu.degree}</p>
            ))}
          </div>
        ))
      }
    </div>
  </div>
</Section>

<style>
  .education-institution {
    gap: 0.5rem;
  }
  .education-degree {
    font-weight: 600;
  }
</style>
