---
import Section from '../layouts/Section.astro';
import type { Institution } from '../types';
import '../styles/experience.css';

interface Props {
  institutions?: Institution[];
}

const { institutions = [] } = Astro.props;
---

<Section id='education'>
  <h2 slot='title'>Education</h2>
  <div slot='body'>
    <div>
      <h3>Education</h3>
      <div class='items'>
        {
          institutions.map((institution) => (
            <div>
              <span class='header'>
                <h4 class='title'>{institution.name}</h4>
                {institution.yearGraduated && (
                  <span class='dates'>{institution.yearGraduated}</span>
                )}
              </span>
              {institution.education.map((edu) => (
                <>
                  <p>{edu.degree}</p>
                </>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Section>
