---
import Section from '../layouts/Section.astro';
import ExternalLinkIcon from './icons/ExternalLinkIcon.astro';
import EmailIcon from './icons/EmailIcon.astro';
---

<Section id='intro'>
  <h1 slot='title'>Hi! I'm Bailee Dastugue,</h1>
  <div slot='body' class='flex-column gap-2'>
    <p class='intro-text'>
      A product manager that bridges what is possible with what is valuable. I
      leverage 4+ years as a software engineer to transform technical complexity
      into business outcomes.
    </p>
    <p>
      Contact me on
      <a href='https://www.linkedin.com/in/bailee-dastugue/' target='_blank'>
        LinkedIn
        <ExternalLinkIcon size={16} />
      </a><br />
      or through email at
      <button id='email-button' title='bailee.dast@gmail.com'>
        bailee.dast@gmail.com
        <EmailIcon size={18} />
      </button>
    </p>
  </div>
</Section>

<style>
  a,
  button {
    align-items: center;
    display: inline-flex;
    gap: 0.25rem;
  }

  button:hover {
    text-decoration: underline;
  }

  .intro-text {
    font-size: 1.25rem;
  }
</style>
