---
import Section from '../layouts/Section.astro';
---

<Section id='intro'>
  <h1 slot='title'>Hi! I'm Bailee Dastugue,</h1>
  <p slot='body' class='intro-text'>
    a product engineer that bridges what is possible with what is valuable. I
    leverage 5+ years as a software engineer to transform technical and domain
    complexity into simple, user-centric solutions.
  </p>
</Section>

<style>
  .intro-text {
    font-size: 1.25rem;
  }
</style>
