---
import Section from '../layouts/Section.astro';
---

<Section id='intro'>
  <h1 slot='title'>Hi! I'm Bailee Dastugue,</h1>
  <p slot='body' class='intro-text'>
    A technical product manager with 5+ years shipping production-level code
    while driving product strategy in parallel.
  </p>
</Section>

<style>
  .intro-text {
    font-size: 1.25rem;
  }
</style>
