---
import Section from '../layouts/Section.astro';
import ExternalLinkIcon from './ExternalLinkIcon.astro';

interface Project {
  name: string;
  link: string;
  description: string;
}

interface Props {
  projects: Project[];
}

const { projects } = Astro.props;
---

<Section id='projects'>
  <h2 slot='title'>Projects</h2>
  <div slot='body'>
    {
      projects.map((project) => (
        <div class='project flex-column'>
          <h3>
            <a
              href={project.link}
              target='_blank'
              rel='noopener noreferrer'
              class='project-link'
            >
              {project.name}
              <ExternalLinkIcon size={18} />
            </a>
          </h3>
          <p>{project.description}</p>
        </div>
      ))
    }
  </div>
</Section>

<style>
  .project {
    gap: 0.5rem;
  }

  .project-link {
    align-items: center;
    display: inline-flex;
    gap: 0.25rem;
  }

  .project-link:hover {
    text-decoration: underline;
  }
</style>
