html {
  font-size: 12px;
  scroll-behavior: smooth;
  scroll-padding-top: 52px;
}

body {
  background-color: #fefefe;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Didot', serif;
  line-height: 1.2;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.55rem;
}

h4 {
  font-size: 1.15rem;
}

h5 {
  font-size: 0.75rem;
}

h6 {
  font-size: 0.5rem;
}

a,
button {
  font-weight: 600;
  transition:
    color 0.2s ease,
    text-decoration 0.2s ease;
}

a:hover {
  text-decoration: underline;
  color: #2d31fa;
}

@media (min-width: 375px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 425px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  body {
    max-width: 1400px;
    margin: 0 auto;
  }
}
