:root {
  --color-primary: #053a8a;
  --color-primary-dark: #052557;
  --color-secondary: #f5ba01;
  --color-secondary-dark: #f3a713;
  --color-tertiary: #8f3578;
  --color-tertiary-dark: #6c2053;
  --color-quaternary: #95062e;
  --color-quaternary-dark: #5c021b;
  --color-success: #36785d;
  --color-success-dark: #003c1e;
  --color-danger: #e61225;
  --color-danger-dark: #a90013;

  --color-surface-1: #a7a8a5;
  --color-surface-2: #fefefe;
  --color-surface-3: #ffffff;
  --color-surface-inverse: #070203;

  --text-primary: #070203;
  --text-inverse: #ffffff;
}

html {
  font-size: 12px;
  scroll-behavior: smooth;
  scroll-padding-top: 52px;
}

body {
  background-color: var(--color-surface-2);
  font-family: 'Open Sans', sans-serif;
  color: var(--text-primary);
}

h1,
h2,
h3 {
  font-family: 'Didot', serif;
  line-height: 1.2;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.55rem;
}

h4 {
  font-size: 1.15rem;
}

h5 {
  font-size: 0.75rem;
}

h6 {
  font-size: 0.5rem;
}

a,
button {
  font-weight: 600;
  color: var(--color-tertiary);
  transition:
    color 0.2s ease,
    text-decoration 0.2s ease;
}

a:hover {
  text-decoration: underline;
}

@media (min-width: 375px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 425px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  body {
    max-width: 1400px;
    margin: 0 auto;
  }
}
