.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.gap-1 {
  gap: 1rem;
}

.gap-1-5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}
